log
.DS_Store
.vagrant

*.py[cod]

# Config files
alembic.ini

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
sdist
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache

# celery
celerybeat-schedule

# test db
marinertest.db
