[ktdreyer-ceph-installer]
name=Copr repo for ceph-installer owned by ktdreyer
baseurl=https://copr-be.cloud.fedoraproject.org/results/ktdreyer/ceph-installer/epel-7-$basearch/
type=rpm-md
skip_if_unavailable=True
gpgcheck=1
gpgkey=https://copr-be.cloud.fedoraproject.org/results/ktdreyer/ceph-installer/pubkey.gpg
repo_gpgcheck=0
enabled=1
enabled_metadata=1
