[Unit]
Description=ceph installer gunicorn service
After=network.target ceph-installer-celery.service
Requires=ceph-installer-celery.service

[Service]
Type=simple
ExecStart=/usr/bin/ceph-installer-gunicorn
EnvironmentFile=-/etc/sysconfig/ceph-installer
User=ceph-installer
WorkingDirectory=/usr/lib/python2.7/site-packages/ceph_installer/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
